Answer 1

In [2]:
a = "Bhautik"
print(type(a))

a = [1,2,3,4,4+7j,5.67,7.98]
print(type(a))

a = 7.19
print(type(a))

a = (1,2,3,5,47,7.69,[1,2])
print(type(a))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Answer 2

In [3]:
'''datatype of var1 is "String"'''
var1 = ''
print(type(var1))

'''datatype of var2 is "String"'''
var2 = '[ DS , ML , Python]'
print(type(var2))

'''datatype of var3 is "List"'''
var3 = ['DS', 'ML', 'PYTHON']
print(type(var3))

'''datatype of var4 is "integer"'''
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Answer 3

'/' Use of this operator to get Quotient of any 2 numbers. 
input - 7/2
output - 3.5

'%' use of this operator to get remainder of any numbers. 
input - 7%2
output - 1

'//' Use of this operator is to get nearest round figured whole number remainder of any 2 numbers.
input - 13/3
output - 4

'**' This operator is used as a power operator. Whenever we need to multiply n times number by itself at that time we use this function. 
input - "7**3"
output - 343

For Eg.

In [5]:
print(7/2)
print(7%2)
print(13//3)
print(7**3)

3.5
1
4
343

Answer 4

In [ ]:
lst = [1,2,3,(9,8,7),4,5,'bhautik','jaanvi',[8+5j,'jigar'],13+6j]
for i in lst:
    print(type(i))

Answer 5

In [ ]:
a = int(input("type number A:"))
b = int(input("type number B:"))
count = 0

while a%b == 0:
    a = a/b
    count += 1
    
print(f"{count} times {a} is divisible by {b}.")

Answer 6

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77,88,99,12,1314,14,15,16,17,19]

for e in range(1, 26):
    if e%3 == 0:
        print("number is divisible by 3")
    else:
        print("number is not divisible by 3")

Answer 7

In [ ]:
'''For mutable data we can replace an any index with anything for eg. List. If I want to update a element from list, 
I can do that.'''
list = [1,2,3,4,5]
list[2] = 999
#Output of above code is [1,2,999,4,5]

'''For immutable data we can not replace an any index with anything for eg. string.'''
str = "bhautik"
# Now if I want to change my 1st latter of my string I can't do that with this
str[3] = "v"
# It'll give us an error.